h1 {
    color: rgb(226, 226, 195);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px; 
    z-index: 9999;
}


img[src="../assets/slide1.jpg"] {
    width: 100%;
    height: 350px;
    position: absolute ;
    top: 0;
    left: 0;
    filter: brightness(0.4);
}

#logo {
    width: 80px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 50px;
    filter: none;
    z-index: 9999;
    -webkit-filter: none;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    margin-right: 50px;
    font-weight: bold;
    color: rgb(247, 244, 240);
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
}
nav ul li a:hover {
    color: rgb(235, 212, 6); 
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    margin-left: 40px;
    margin-top: 270px;
    gap: 40px;
} 

 .products img:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}
p {
    font-weight: bold;

}

.id {
    display: flex; 
    justify-content: flex-start; 
    left: 0; 
    gap: 140px; 
}
    .id p {
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        margin-left: 65px;
    }
.products2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    margin-left: 40px;
    gap: 40px;
}
.products2 img:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.id2 {
    display: flex; 
    justify-content: flex-start; 
    left: 0; 
    gap: 140px; 
}
.id2 p {
    margin: 0;
        font-size: 30px;
        font-weight: bold;
        margin-left: 65px;
}

.seq {
    text-decoration: none;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin-top: 100px;
 }
.button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20px;
    left: -20px;
    height: 50px;
}

.button:hover {
    background-color: rgb(253, 251, 251)!important;
    color: rgb(5, 5, 5) !important;
}

h3 {
    color: rgb(104, 100, 100);

}
h4 {
    color: orange;
    background-color: orange;
    width: 180px;
    height: 4px;
    border-radius: 10px;
    margin-top: 0px;
}

.result {
     top: 370px;
    left: 40px;
    position: absolute;
    display: flex;
    flex-direction: row;
     gap:650px;
}
.option_list {
    top: 600px;
    left: 40px; 
    display: flex;
    flex-direction: row;
    gap:5px;
    height: 40px;

}
.under_page {
     top: 350px;
    left: 50px; 
    display: flex;
    flex-direction:column;
    
}


.custom-dropdown {
    width: 150px;
    padding: 8px;
    font-size: 16px;
    border: 4px solid #000000; 
    background-color: white;
    cursor: pointer;
}

.custom-dropdown:focus {
    outline: none;
    border-color: orange;
    position: absolute;
    top:380px; 
    right: 200px; 
    z-index: 1000;
}

.custom-dropup {
    width: 150px;
    padding: 8px;
    font-size: 16px;
    border: 4px solid #000000; 
    background-color: white;
    cursor: pointer;
}

.custom-dropup:focus {
    outline: none;
    border-color: orange; 
    position: absolute;
    right: 100px;
    z-index: 1000;
} 
.showing_result{
    top: 600px;
}

.button {
    background-color: rgb(252, 244, 244);
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20px;
    left: -20px;
    height: 50px;
}

.button:hover {
    background-color: rgb(0, 0, 0)!important;
    color: rgb(250, 250, 250) !important;
}

@media (max-width: 1024px) {
    .img {
        width: 70%;
    }

    .icon {
        font-size: 22px;
    }

    .read-more {
        font-size: 18px;
    }
}
@media (max-width: 1024px) {
    .img {
        width: 70%;
    }

    .icon {
        font-size: 22px;
    }

    .read-more {
        font-size: 18px;
    }
}